@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
links:
instagram: https://www.instagram.com/_247autos?igsh=MTdoOHhjdzFlczQ1aQ==
font-family: 'Gilroy-Bold', sans-serif;
font-family: 'Gilroy-Heavy', sans-serif;
font-family: 'Gilroy-Light', sans-serif;
font-family: 'Gilroy-Medium', sans-serif;
font-family: 'Gilroy-Regular', sans-serif; 
font-family: Helvetica, Arial, sans-serif;

100%/1.55 Poppins,sans-serif

#e2c6a1
#7d6342
#b68a61
*/

:root {
  /* CSS HEX */
  /* lighter shade1: #cb9f5c  ligther shade 2: #e5c8a0  ash-blend;#f8f8f8*/
  --sundance: #cb9f5c;
  --black: #040404;
  --soya-bean: #5b5448;
  --gunsmoke: #7b8481;
  --monza: #d21108;
  --zeus: #2d2720;
  --cape-cod: #3a4444;
  --storm-gray: #636b8a;
  --ebony-clay: #2d3248;

  /* text colors */
  --light: #e3e3e3;
  --mid: #616161;
  --dark: #47546
  
  /* background colors */
  --white-bg: #ffffff;
  --ash-bg: #f1f1f1;

  /* state colors */
  --hover: #f7f7f7;
  --pressed: #f0f0f0;
  --focused: #005bd3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

img {
  z-index: 1;
}

.main-container {
  z-index: 1;
}
nav, .nav__small {
  z-index: 10;
}

h1,
h2, h3, h4{
  font-family: "Gilroy-Bold", sans-serif;
}

p, h5,h6 {
  font-family: "Merriweather", sans-serif;
}


h1 {
  @apply font-extrabold;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}

/* nav */
nav {
  font-family: "Gilroy-Bold", sans-serif;
  padding: 0.5rem 1rem ;
}

.navlinks li {
  color: var(--sundance);
  padding-right: 1rem;
  transition: all 0.2s ease-in-out;
}

.navlinks li:hover {
  color: white;
  transform: scale(1.1);
}

.small__logo {
height: 40px;
}

.intro {
  font-family: "Gilroy-Bold", sans-serif;
}

.name {
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: inline-block;
  transform-style: preserve-3d;
  transform: rotateX(60deg);
}

.hero-homepage__small {
  background-image: url("/assets/images/2vid.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.count {
  font-family: Helvetica, Arial, sans-serif;
}

.about-us-heading{
  background: linear-gradient(to right, #cb9f5c, #d21108);
}

.cars-heading {
  background: linear-gradient(to right, #5b5448 , #d21108);
}
.product-details p{
  font-family: "Gilroy-Medium", sans-serif;
}
.product-details-heading  {
 background: linear-gradient(to right, #fff ,  #cb9f5c);
}

.blog-container-heading {
  background: linear-gradient(to right, #fff ,  #5b5448);
}

.products-container__homepage,
.brand-benefits,
.customers-comments,
.faq {
  padding: 1rem 3rem;
  height: auto;
  min-height: 600px;
}

.faq-icons,
.faq-accordion {
  transition: all 1s ease-in-out;
}

.select-component-container {
z-index: 100;
}

.product-card {
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 1s ease-in-out;
  width: 320px;
  max-width: 320px;
  height: 400px;
  max-height: 400px;
  border-radius: 10px;
  padding: 5px;
  margin: 0 5px;
  box-shadow: 0 0 6px #c3c7cb;
}

.product-card:hover {
  transform: scale(0.9);
}

.product-card p {
  font-family: "Gilroy-Medium", sans-serif;
}

.about-us-container img {
  width: 300px;
  min-width: 300px;
  height: 200px;
}

.about-us-container svg path {
  fill: var(--sundance)
}

.large-product-image {
width: 400px;
height: 300px;
}

.small-image{
width: 200px;
    height: 150px;
}

.product-card img {
  max-width: 100%;
  width: 300px;
  height: 280px;
}

.logo-container img,
.footer img {
  width: 80px;
  height: 40px;
}

.footer svg,
.footer path {
  width: 40px;
  height: 40px;
}

.footer p {
  display: inline-block;
}

.comments-card {
  box-shadow: -3px 3px var(--monza);
}

 .header-searchbar {
  background-color: black;
  width: 480px;
  height: 32px;
  display: flex;
  align-items: center;
  padding: 8px;
  padding-right: 0;
  border-radius: 8px;
  cursor: pointer;
  border: 1px double var(--mid);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

 .header-searchbar:hover {
  border: 1px solid #e1e1e1;
}

 .header-searchbar:active,
 .header-searchbar:focus {
  border: 1px double #ffffff;
}

 .header-searchbar input {
  background: transparent;
  color: white !important;
  width: 460px;
  height: 32px;
  margin-left: 8px;
  font-size: 13px;
  color: var(--c-100);
  border: none;
}

 .header-searchbar input::placeholder {
  color: var(--light);
  font-size: 13px;
  font-weight: 500;
  line-height: 140%;
}

 .header-searchbar input:hover,
 .header-searchbar input:active,
 .header-searchbar input:focus {
  border: none;
  outline: none;
}

.product-details-important {
  height:fit-content;
  width: fit-content;
}


/* footer */

.footer-container {
  padding: 0.5rem 3rem;
}

/* Media queries */

@media screen and (max-width: 769px) {

  .product-card {
    width: 190px;
    max-width: 190px;
    height: 250px;
    max-height: 250px;
    border-radius: 10px;
    padding: 5px;
    border-radius: 8px;
    margin: 0 5px;
    box-shadow: 0 0 6px #c3c7cb;
  }

  .product-card img {
    max-width: 100%;
    width: 180px;
    height: 130px;
  }


  
.small-image{
  width: 120px;
      height: 90px;
  }


  .navbar img,
  .footer img {
    width: 80px;
    height: 40px;
  }

  .products-container__homepage,
  .brand-benefits,
  .customers-comments,
  .faq {
    padding: 1rem;
    min-height: 400px;
  }
}


@media screen and (max-width: 431px) {
  
.large-product-image {
  width: 280px;
  height: 210px;
  }
}